.tab-list {
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid black;
}
.tab-list > button {
    border: none;
}
.tab-panels {
    position: relative;
    border: 1px solid red;
}
.tab-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid purple;
}
.tab-panel.hidden {
    display: none;
}