.banner {
    color: #f04400;
    display: flexbox;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: left;
    text-indent: 10em;
    min-height: 180px;
    font-size: xx-large;
    font-weight: bolder;
    align-items: normal;
}


