.banner {
    display: flex;
    width: 100vw;
    height: 140px;
    flex-flow: column;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 1;
}





