.banner {
    display: flex;
    margin-top: 100px;
    margin-bottom: 10;
    width: 100vw;
    height: 250px;
    flex-flow: column;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 1;
}

.banner-title {
    font-size: 3vw;
    font-weight: 900;
    font-family: "Open Sans", sans-serif;
    color: #f8dba0;
    text-shadow: 3px 3px 2px #000000;
    justify-content: right;
    position: fixed;
    margin-top: 8em;
    margin-left: 2em;  
}



