.container {
    text-align: center;
}
.shock {
    font-size: 35px;
}
.bdayquest {
    font-size: 25px;
}
.taxoutput {
    font-size: 50px;
    font: Stencil Std, fantasy;
}
.taxoutputs {
    font-size: 20px;
    font: Stencil Std, fantasy;
}