<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
    <!-- A little help for the Netlify post-processing bots -->
    <form name="submitemail" netlify netlify-honeypot="bot-field" hidden>
    <input type="text" name="firstname" />
    <input type="email" name="emailid" />
    </form>
    
    <div id="root"></div>
    <script type="text/babel">

      ReactDOM.render(
        <form name="submitemail" method="post">
          <input type="hidden" name="form-name" value="submitemail" />
          <p>
            <label>First Name: <input type="text" name="name"/></label>
          </p>
          <p>
            <label>Email: <input type="email" name="email"/></label>
          </p>
          <p>
            <button type="submit">Send</button>
          </p>
        </form>,
        document.getElementById("root")
      );

    </script>
    </body>
</html>