.app {
  position: relative;
  min-height:100vh;
}
form {
  display: flex;
  flex-flow: column;
}
.logo {
  font-weight: 900;
  font-size: 4em;
  font-family: "Copperplate";
  background-clip: text;
  color: #f8dba0 !important;
  text-shadow: 3px 3px 2px #000;
  margin-left: 40px;
}
.emailpg {
  text-align: center;
  margin-bottom: 200;
}
.page-wrapper {
  display: flex;
  flex-flow: column;
  height: 100vh;
  margin-bottom: 100;
}

.main-header {
  display: flex;
  flex-flow: row;
  background: rgb(247,225,134);
  background: linear-gradient(0deg, rgba(255, 255, 279,1) 0%, rgba(238,189,82,1) 35%, rgba(218,19,22,1) 100%) !important;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  justify-content: space-between;
}

.content {
  flex: 1; 
  padding: 1em;
  background-color: #f7f7d2;
  color: #4d1919;
  text-align: justify;
  flex: 1;
  padding: 1em;
  margin-bottom: 100;
}
article {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 50px;
  padding: 20px;
  background-color: #f7f7d2;
  color: #4d1919;
  font-size: 15px;
  font: Stencil Std, fantasy;
  box-shadow: 0 0 5px 10px #da1316
}

.constrain {
  max-width: 1200px;
  margin: 0 auto;
}
body {
  margin-bottom: 105;
}
.main-footer {
  background: rgb(218,19,22);
background: linear-gradient(0deg, rgb(218, 19, 22) 0%, rgb(238, 189, 82) 24%, rgb(247, 247, 210) 100%);
  text-align: center;
  color: black;
  position: absolute;
  margin: 0 auto;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  
}
main {
  display: flex;
  flex-direction: column;
}
footer > p {
  color: black;
}

a.link {
  color: rgb(52, 196, 148);
    font-weight: 900;
    text-decoration: none;
    outline: none;    
}
#quoteblk {
  border-left: 6px solid #3c9;
    border-radius: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 15px;
    margin-left: 0;
    margin-bottom: 2em;
    font-size: 15px;
}
#articleblk {
  color: black;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  margin: 4em 0;
  box-shadow: 0 1px 2px 0 rgba(10,16,34,.2);
  transition: .3s ease;
}
.faux-big {
  max-width: 70%;
  max-height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.author_box {
  width: 90vw;
    padding: 1em;
    margin: 2vh auto;
    display: flex;
    margin-bottom: 200;
}
.profile_description {
  flex-grow: 1;
    padding: 1em;
    max-width: 75vw;
     
}
.profile_image {
  width: 20vw;
  height: 20vw;
  flex-grow: 1;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}
@media (max-width: 760px) {
  .author_box {
    border: 1px solid #ccc;
    margin-bottom: 100px;
    border-radius: 4px;
    padding: 20px;
    
    
  }
  .profile_description {
    float: right;
    width: 73%;
    font-size: 14px;
    line-height: 22px;
    
       
       
  }

  .profile_image img {
    margin: 0 auto;
        width: 50vw;
        height: 50vw;
        float: left;
  }
}



